.outerbox{
    width: 100%;
    height: 500px;
    background: rebeccapurple;
    padding: 20px;
}
.box1{
    width: 40%;
    height: 30%;
    background: blue;
    float: left;
    margin: 10px;
    
}
.box2{
    width: 40%;
    height: 30%;
    background: rgb(8, 109, 67);
    float: left;
    margin: 10px;
}
.box3{
    width: 40%;
    height: 30%;
    background: rgb(187, 109, 20);
    float: left;
    margin: 10px;
}
.box4{
    width: 40%;
    height: 30%;
    background: rgb(224, 54, 224);
    float: left;
    margin: 10px;
    
}