button{
    background: green;
    color: aliceblue;
}
#para1{
    color: hotpink;
}
#para2{
    color: indigo;
}
.content{
    color: violet;
    background-color: green;

}
.box{
    width: 300px;
    height: 200px;
    background: yellow;
}
.inner-box{
    width: 50px;
    height: 70px;
    padding-left: 70px;
    padding-bottom: 20px;
    background: white;
}
.white{
    color: white;
}





